body {
  margin: 0;
  font-family: "Montserrat", "Roboto", "Courier Prime", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fe;
  font-size: 15px;
}

input,
button,
textarea,
label,
legend {
  font-family: "Montserrat", "Roboto", "Courier Prime", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
}

input,
button,
textarea {
  border: 1px solid #e8e8e8;
}

h1 {
  font-size: 2em;
}

svg {
  fill: #595959;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #f6f6f6;
  height: 1px;
}

.ReactCollapse--collapse {
  transition: ease height 500ms;
}

.react-pdf__message {
  display: none;
}
