body {
  margin: 0;
  font-family: "Montserrat", "Courier Prime", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fe;
  font-size: 15px;
}

input,
button,
textarea,
label,
legend {
  font-family: "Montserrat", "Courier Prime", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
}

input,
button,
textarea {
  border: 1px solid #e8e8e8;
}

h1 {
  font-size: 2em;
}
